﻿@model TextMatch.Models.TextMatcherModel
@{
    ViewBag.Title = "TextMatch";
}

<div class="jumbotron">
    <h1>TextMatch</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Text matching web application</h2>
    </div>
    <div class="col-md-6">
        @using (Html.BeginForm("MatchText", "Home", FormMethod.Post, new { @id = "form" }))
        {
            <div class="row">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Text)
                    @Html.TextBoxFor(m => m.Text, new { @class = "pull-right" })
                    @Html.ValidationMessageFor(x => x.Text)
                </div>
                <div class="col-md-12" style="margin-top:10px">
                    @Html.LabelFor(m => m.Subtext)
                    @Html.TextBoxFor(m => m.Subtext, new { @class = "pull-right" })
                    @Html.ValidationMessageFor(x => x.Subtext)
                </div>
                <div class="col-md-12" style="margin-top:10px">
                    <input type="submit" value="Submit" />
                </div>
            </div>
        }
        <div id="result"></div>
    </div>
</div>